span.highlight {
	background: red;
}

h1 {
	color: black; 
	font-size: 45px; 
	text-align: center
}

body {
	
	text-indent: 2em;
	margin: 0px,auto;
	width: 900px; 
	font-size: 24px; 
	margin: 0 auto;
}

li {
	color: red;
}

p:first-letter {
	
	font-size: 40px
}
